@font-face {
  font-family: 'Maison Neue';
  src: url('../../public/fonts/MaisonNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../../public/fonts/MaisonNeue-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../../public/fonts/MaisonNeue-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../../public/fonts/MaisonNeue-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
