.datepicker {
  @apply border rounded-md bg-white w-full h-[3rem];
  composes: shadowXSmall from '../../styles/shadows.module.css';
}

.datepicker:focus-within {
  @apply border-2 border-[--datepicker-scheme];
}

.datepickerInput {
  @apply min-w-[18rem] h-[3rem] px-4 py-3;
}

.datePickerModal {
  @apply absolute z-10 mt-1 flex flex-col bg-white border shadow-lg rounded-xl items-center lg:flex-row;
  composes: smallBold from '../../styles/typography.module.css';
}

.day {
  @apply w-8 h-8 flex justify-center items-center mx-px rounded-full;
}

.selected {
  @apply bg-[--datepicker-scheme] text-white;
}

.selectedHover {
  @apply bg-[--datepicker-selected-hover-color];
}

.hovered {
  @apply bg-[--datepicker-hover-color];
}

.rangeItem {
  @apply bg-[--datepicker-range-item-color];
}

.disabled {
  @apply bg-[--datepicker-disabled-color] border border-gray-300;
}

.datepickerInput:disabled,
.datepickerInput:disabled ~ * {
  @apply cursor-not-allowed opacity-50;
}

.label {
  composes: smallBold from '../../styles/typography.module.css';
}

.error {
  @apply border-2 border-[--datepicker-error-color];
}

.errorMessage {
  @apply text-[--datepicker-error-color];
  composes: small from '../../styles/typography.module.css';
}
