.textField {
  @apply flex justify-between items-center w-full gap-4 flex-shrink-0 rounded-[0.375rem] bg-white  border border-gray-300;
  composes: shadowXSmall from '../../styles/shadows.module.css';
}

.label {
  composes: smallBold from '../../styles/typography.module.css';
}

.textField input,
.textField textarea {
  @apply outline-none self-stretch bg-transparent w-full px-4 py-3;
}

.textField input {
  @apply h-[3rem];
}

.textField label:not(.label) {
  min-width: fit-content;
}

.textField input::placeholder,
.textField textarea::placeholder {
  @apply text-[--textfield-placeholder-color];
}

.error {
  @apply border-2 border-[--textfield-error-color];
}

.errorMessage {
  @apply text-[--textfield-error-color];
  composes: small from '../../styles/typography.module.css';
}

.textField:focus-within:not(.error, .readOnly) {
  @apply border-2 border-[--textfield-scheme];
}

.disabled {
  @apply bg-[--textfield-disabled-color];
}

.disabled * {
  @apply opacity-50;
}

.readOnly:not(.disabled) {
  @apply bg-[--textfield-readonly-color] border-gray-200;
}

.readOnly {
  @apply text-gray-500;
  composes: baseBold from '../../styles/typography.module.css';
}

.readOnly input {
  @apply text-end;
}

.textField input:disabled {
  @apply cursor-not-allowed;
}
