.textField {
  @apply flex w-[20.5rem] justify-center flex-col h-[4.375rem] py-[1rem] px-[1.25rem] gap-4 flex-shrink-0 rounded-[0.375rem] bg-white;
  composes: shadowSmall from '../../styles/shadows.module.css';
}

.label {
  @apply self-stretch text-[--textfield-label-color];
  composes: small from '../../styles/typography.module.css';
}

.textField input {
  @apply outline-none self-stretch;
}

.textField input::placeholder {
  @apply text-[--textfield-placeholder-color];
}

.error {
  @apply border-b-2 border-[--textfield-error-color] rounded-b-[0.375rem] border-[2px];
}

.errorMessage {
  @apply text-[--textfield-error-color];
  composes: small from '../../styles/typography.module.css';
}

.textField:focus-within {
  @apply border-b-2 border-[--textfield-scheme] rounded-b-[0.375rem];
}

.disabled {
  @apply bg-[--textfield-disabled-color] cursor-not-allowed;
}
